<section class="root">
  <h3>
    {{list.name}}
    <button (click)="delete()">Delete list</button>
  </h3>

  <input #checked type="checkbox" (change)="checkAll(checked.checked)" />
  <!--<input type="checkbox" [ngModel]="item.checked" (ngModelChange)="check(isChecked.checked)" />-->

  <form (ngSubmit)="createItem(newItemLabel.value); newItemLabel.value=''">
    <!--<label>Que faire ?</label>-->
    <input type="text" #newItemLabel placeholder="Que faire ?"/>
  </form>
  <section class="items">
    <app-todo-item *ngFor="let item of list.items"
                   [clock]="item.clock"
                   [item]="item"
                   [listId]="list.id">
    </app-todo-item>
  </section>

  <ul class="filters">
    <li>
      <a [class.selected]="filter===filterAll" #Tous (click)="setFilterAll()">Tous</a>
    </li>
    <li>
      <a [class.selected]="filter===filterActive" #Actifs (click)="setFilterActive()">Actifs</a>
    </li>
    <li>
      <a [class.selected]="filter===filterCompleted" #Complétés (click)="setFilterCompleted()">Complétés</a>
    </li>
  </ul>

  <div>
    <label> {{nbunchecked()}} restantes / {{nbItems()}}</label>
  </div>
</section>
