header {
  display: flex;
  flex-flow: row;
  background-color:#C73131;
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  margin: 0;
  padding: 0.5em;
  border-bottom:  solid black 3px;
}

header > h1 {
  flex: 1 1 auto;
  text-align: center;
}

header > section.user {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  color:white;
}

header img.photo {
  width: 6em;
  height: 6em;
  margin-left: 1em;
}

section.connection {
  padding: 0;
  margin: 0;
  flex: 1 1;
}

section.connection > label:hover {
  background: yellow;
}


