section.toBeUpdated {
  background-color: orangered;
}

form {
  display: inline;
}

section:hover div.example-container{
  visibility: visible;
}

div.example-container {
  visibility: hidden;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
