
<section>
  <input #isChecked type="checkbox" [ngModel]="item.checked" (ngModelChange)="check(isChecked.checked)" />
  <label *ngIf="!isEditingLabel()" (dblclick)="editLabel(true)">
    <!--{{item.label}} (data: {{item.data | json}})-->
    {{item.label}} {{item.data["itemDate"] | date:'shortDate'}}
  </label>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="updateDateItem(picker._datepickerInput.value)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

  <!--<mat-checkbox>check</mat-checkbox>-->
  <form *ngIf="isEditingLabel()" (submit)="setLabel(newLabel.value)">
    <input #newLabel type="text" [value]="item.label"/>
  </form>

  <div class="dropdown-menu">
    <button (click)="createDeroule()" ><img src="https://image.noelshack.com/fichiers/2017/41/3/1507726486-clothes-label.png"/> </button>
    <div *ngIf="getDerouleCategories()">
      <li><i class="icon-user"></i> Aucune <input name="categorie" type="radio" /></li>
      <li><i class="icon-picture"></i> Catégorie 1<input name="categorie" type="radio" /></li>
      <li><i class="icon-screenshot"></i> Catégorie 2<input name="categorie" type="radio" /></li>
      <li><i class="icon-list-alt"></i> Catégorie 3<input name="categorie" type="radio" /></li>
      <li><i class="icon-list-alt"></i> Catégorie 4<input name="categorie" type="radio" /></li>
    </div>
    <button (click)="delete()">X</button>
    <button (click)="editLabel(true)">Modifier</button>
  </div>

</section>
