section.toBeUpdated {
  background-color: orangered;
}

section {
  display: block;
}

form {
  display: inline;
}

section:hover div.example-container{
  visibility: visible;
}

div.example-container {
  visibility: hidden;
}
.example-container {
  display: inline-flex;
  float: right;
}

.example-container > * {
  width: 100%;
}
