<!--<p>There are {{getLists().length}} lists</p>-->
<div>
  <br/>
  <br/>
</div>
<section class="container">
  <section class="row">
    <section class="col-lg-12">
      <form (ngSubmit)="createList(newListName.value); newListName.value=''">
        <div class="styleCreateList">
          <label class="saisir">Saisissez le nom
            d'une nouvelle <span style="color:#C73131">liste</span> :</label><br/>
          <br/>
          <input type="text" #newListName/>
        </div>
      </form>
    </section>
  </section>

  <!--
  <p>getItemsUI: {{getItemsUI() | json}}</p>
  <p>getLists: {{getLists() | json}}</p>
  -->
  <section class="row">
    <section class="col-sm-12">
      <section class="lists" dnd-sortable-container [sortableData]="getLists()">
        <app-todo-list *ngFor="let list of getLists(); let i = index" [list]="list" [clock]="list.clock" [dragData]="list" dnd-sortable [sortableIndex]="i" (onDropSuccess)="dndList($event,i)"></app-todo-list>
      </section>
    </section>
  </section>
</section>
