section.lists {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  justify-content: space-around;
}

app-todo-list {
  flex: 0 0 auto;
  width: 47%;
  display: inline-flex;
  margin: 1em;
}

div.styleCreateList {
  text-align:center;
  margin:auto;
  padding-bottom: 100px;
  padding-top:15px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 100px;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  -o-text-overflow: clip;
  text-overflow: clip;
  background-color: snow;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  border-radius: 10px;
}

.saisir{
  font-family:Verdana, sans-serif;
  font-size:large;
  font-weight:bold;
  color: black
}
